* {box-sizing: border-box; border: 0;}
html, body {
  width: 100%;
  height: 100%;
}

/* Sets font for all text -- for some reason button and input do not inherit from body */
body, button, input {
  font-family: 'Roboto', Helvetica, Verdana, Arial, sans-serif;
}

/* Sets font-size and text color NEED TO CLEAN THIS UP AND USE PROPER H1s FOR MAIN ICONS? */
p, a, button, input, .autocomplete-items div, .cd-panel__header h1  {
  font-size: 20px;
  color: hsl(0, 0%, 95%);
}
p, a {margin: 0;}

/* Main tile headings */
.tile h1 {
  font-size: 12px;
  margin: 0;
  color: hsl(142, 100%, 30%); /* Brazil flag green */
}
body {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 20%);
  margin: 0px;
}



/* Autocpmplete stuff */

/* WHAT IS THIS? */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

/* Dropdown list container */
.autocomplete-items {
  position: absolute;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  background-color:  hsl(0, 0%, 40%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

/* each matching array item's div */
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: hsl(0, 0%, 30%);
  border-bottom: solid;
  border-bottom-width: thin;
  border-bottom-color: hsl(0, 0%, 40%);
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: hsl(0, 0%, 40%);
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: hsl(0, 0%, 40%) !important;
}
/* END autocomplete stuff */

/* Header stuff */

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  /* Keeps heqder from shrinking vertically on small screen WHY? NO EFFECT */
  flex-shrink: 0;
  background-color: hsl(0, 0%, 40%);
}
#left-link-container, #right-link-container {
  display: flex;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  /* background-color: blue; */
}
/* Removes underline on links */
/* header a {text-decoration: none; outline: none;} */
header a:hover, :focus {color: hsl(0, 0%, 80%);}
header a:active {color: hsl(0, 0%, 70%);}

/* right-justifies header right side contact link */
#right-link-container {justify-content: flex-end;}
/* keeps input and button true-centered and together */
#input-button-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 600px;
  /* background-color: yellow; */
}

#large-button {
  cursor: pointer;
  outline: none;
  border: 0px;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0px;
  justify-content: center;
  margin: 0; /* eliminates margin in Safari */
  width: 33%;
}

input {
  outline: none;
  /* this lets the input shrink without blocking header from shrinking */
  width: 100%;
  margin: 0;
  padding: 10px;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  /* gets rid of default styling on Safari OR NOT */
  -webkit-appearance: none;

}
#small-button {
  outline: none;
  margin: 0;  /* eliminates margin in Safari */
  border: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  justify-content: center;
}


 /* green */
button {background-color: hsl(142, 100%, 30%);}
 /* slightly darker green */
button:hover {background-color: hsl(142, 100%,25%);}
/* This has a different effect than :hover FIX THIS */
/* button:focus {background-color: hsl(120, 40%, 45%);} */
/* button:active {background-color: hsl(120, 40%, 40%);} */

/* fills in space behind header */
#header-spacer {
  /* change spacer padding when changing header padding */
  padding: 22px;
  text-align: center;
  /* background-color: blue; */
}
/* change spacer p font size when changing header font size */
#header-spacer p {
  /* same color as body background color */
  color: hsl(0, 0%, 20%);
}

/* Main stuff */
main {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  /* FIX THIS see header position fixed and width */
  /* margin-top: 65px; */

}
#all-tile-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  width: 600px;
}
.three-tile-group-container {
  display: flex;
  /* keeps tiles center justified when text exceeds container width */
  justify-content: center;
}
.tile {
  flex: 1;
  margin: 2.5px;
  padding: 10px;
}

footer {
  flex-shrink: 0;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
  background-color: hsl(0, 0%, 40%);
}
i {vertical-align: middle;}


.tile {background-color: hsl(0, 0%, 30%);}
input {background-color: hsl(0, 0%, 30%);}
/* input:focus {background-color: hsl(0, 0%, 30%);} */


/* About page centerd text box */
#about-main-text-container {
  border-radius: 5px;
  background-color: hsl(0, 0%, 30%);
  padding: 10px;
  margin: 10px;
  max-width: 600px;
}

#footer-heading {
  font-family: Roboto Condensed;
  font-weight: bold;
  color: #009b3a;
  font-size: 34px;
  /* font-weight: bold; */
}

#footer-subtitle {font-size: 16px; font-family: Roboto Condensed;}
#footer-copyright {font-size: 12px; font-family: Roboto Condensed;}

/* Small screen defaults */
#large-button {display: none;}
.three-tile-group-container {flex-direction: column;}
.all-tile-container {flex: 1;}














/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


/* --------------------------------

Slide In Panel - by CodyHouse.co

-------------------------------- */



.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}

.cd-panel::after {
  /* overlay layer WHAT IS THIS */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}

.cd-panel.cd-panel--is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

.cd-panel.cd-panel--is-visible::after {
  /* shades exposed main content when panel is open */
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}

.cd-panel__header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 90%; /* default width */
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: hsl(0, 0%, 40%);
  z-index: 2;
  /* drops the header down once the panel is open */
  -webkit-transition: -webkit-transform 0.3s 0s;
  transition: transform 0.3s 0s, -webkit-transform 0.3s 0s;
  -webkit-transform: translateY(-70px);
      -ms-transform: translateY(-70px);
          transform: translateY(-70px);
}

.cd-panel__header h1 {
  color: hsl(0, 0%, 95%);
  /* background-color: blue; */
  /* same as main button text */
  font-size: 20px;
}

.cd-panel--from-right .cd-panel__header {
  right: 0;
}

.cd-panel--from-left .cd-panel__header {
  left: 0;
}

.cd-panel--is-visible .cd-panel__header {
  /* what does this do? */
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}


.cd-panel__close {
  /* background-color: blue; */
}

.cd-panel__close:hover {
  /* color of X icon on hover */
  color: hsl(0, 0%, 80%);
}

.cd-panel__container {
  position: fixed;
  width: 90%; /* default width */
  height: 100%;
  top: 0;
  /* panel background color */
  background-color: hsl(0, 0%, 30%);
  /* background-color: blue; */
  z-index: 1;
  /* slides the panel out from edge */
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.cd-panel--from-right .cd-panel__container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.cd-panel--from-left .cd-panel__container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.cd-panel--is-visible .cd-panel__container {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

@media only screen and (min-width: 768px) {
  .cd-panel__container {
    width: 70%;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-panel__container {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .cd-panel__header {
    width: 70%;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-panel__header {
    width: 50%;
  }
}

.cd-panel__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 90px;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
  /* background-color: green; */
}


.cd-panel__content p:first-of-type {
  margin-top: 0;
}

.cd-panel__content p {
    line-height: 1.2;
  }



/* CodyHouse slide-in panel info:

Copyright 2018 Amber Creative Lab Ltd, CodyHouse.co

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. */




/* Large screen */
@media only screen and (min-width: 600px) {
  #left-link-container, #right-link-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  #small-button {display: none;}
  #large-button {display: inherit;}
  input {width: 66.66%;}
  .three-tile-group-container {flex-direction: row;}
  #tile-1 {
    border-top-left-radius: 5px;
  }
  #tile-3 {
    border-top-right-radius: 5px;
  }
  #tile-7 {
    border-bottom-left-radius: 5px;
  }
  #tile-9 {
    border-bottom-right-radius: 5px;
  }
  /* .cd-panel__header {
    padding-left: 20px;
    padding-right: 20px;
  } */
}
