* {box-sizing: border-box; border: 0;}
html, body {
  width: 100%;
  height: 100%;
}

/* Sets font for all text -- for some reason button and input do not inherit from body */
body, button, input {font-family: 'Roboto', Helvetica, Verdana, Arial, sans-serif;}

/* Sets font-size and text color */
p, a, button, input, .autocomplete-items div {
  font-size: 20px;
  color: hsl(0, 0%, 95%);
}
p, a {margin: 0;}

/* Main tile headings */
h1 {
  font-size: 12px;
  margin: 0;
  color: hsl(142, 100%, 30%); /* Brazil flag green */
}
body {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 20%);
  margin: 0px;
}



/* Autocpmplete stuff */

/* WHAT IS THIS? */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

/* Dropdown list container */
.autocomplete-items {
  position: absolute;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  background-color:  hsl(0, 0%, 40%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

/* each matching array item's div */
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: hsl(0, 0%, 30%);
  border-bottom: solid;
  border-bottom-width: thin;
  border-bottom-color: hsl(0, 0%, 40%);
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: hsl(0, 0%, 40%);
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: hsl(0, 0%, 40%) !important;
}
/* END autocomplete stuff */

/* Header stuff */

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  /* Keeps heqder from shrinking vertically on small screen WHY? NO EFFECT */
  flex-shrink: 0;
  background-color: hsl(0, 0%, 40%);
}
#left-link-container, #right-link-container {
  display: flex;
  flex: 1;
  /* align-items: center; */
  margin-left: 10px;
  margin-right: 10px;
  background-color: blue;
}
/* Removes underline on links */
header a {text-decoration: none; outline: none;}
header a:hover, :focus {color: hsl(0, 0%, 80%);}
header a:active {color: hsl(0, 0%, 70%);}

/* right-justifies header right side contact link */
#right-link-container {justify-content: flex-end;}
/* Keeps input and button true-centered and together */
#input-button-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 600px;
  background-color: yellow;
}

#large-button {
  cursor: pointer;
  outline: none;
  border: 0px;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0px;
  justify-content: center;
  margin: 0; /* eliminates margin in Safari */
  width: 33%;

  /* flex: 1; */
  /* width: 33%; */
}

input {
  outline: none;
  /* this lets the input shrink without blocking header from shrinking */
  width: 100%;
  /* width: 66%; */
  margin: 0;
  padding: 10px;
  /* flex: 1; */
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  margin: 0;
  /* gets rid of default styling on Safari OR NOT */
  -webkit-appearance: none;
}
#small-button {
  outline: none;
  margin: 0;  /* eliminates margin in Safari */
  border: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  justify-content: center;
}


 /* green */
button {background-color: hsl(142, 100%, 30%);}
 /* slightly darker green */
button:hover {background-color: hsl(142, 100%,25%);}
/* This has a different effect than :hover FIX THIS */
/* button:focus {background-color: hsl(120, 40%, 45%);} */
/* button:active {background-color: hsl(120, 40%, 40%);} */

/* Main stuff */
main {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 70px; /* FIX THIS see header position fixed and width */

}
#all-tile-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  width: 600px;
}
.three-tile-group-container {
  display: flex;
  /* justify-content: center; */
}
.tile {
  flex: 1;
  margin: 2.5px;
  padding: 10px;
}

footer {
  flex-shrink: 0;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
  background-color: hsl(0, 0%, 40%);
}
i {vertical-align: middle;}


.tile {background-color: hsl(0, 0%, 30%);}
input {background-color: hsl(0, 0%, 30%);}
/* input:focus {background-color: hsl(0, 0%, 30%);} */


/* About page centerd text box */
#about-main-text-container {
  border-radius: 5px;
  background-color: hsl(0, 0%, 30%);
  padding: 10px;
  margin: 10px;
  max-width: 600px;
}

#footer-heading {
  font-family: Roboto Condensed;
  font-weight: bold;
  color: #009b3a;
  font-size: 34px;
  /* font-weight: bold; */
}

#footer-subtitle {font-size: 16px; font-family: Roboto Condensed;}
#footer-copyright {font-size: 12px; font-family: Roboto Condensed;}

/* Small screen defaults */
#large-button {display: none;}
.three-tile-group-container {flex-direction: column;}
.all-tile-container {flex: 1;}

/* Large screen */
@media only screen and (min-width: 600px) {
  #small-button {display: none;}
  #large-button {display: inherit;}
  input {width: 66.66%;}
  .three-tile-group-container {flex-direction: row;}
  #tile-1 {
    border-top-left-radius: 5px;
  }
  #tile-3 {
    border-top-right-radius: 5px;
  }
  #tile-7 {
    border-bottom-left-radius: 5px;
  }
  #tile-9 {
    border-bottom-right-radius: 5px;
  }
}













/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


/* --------------------------------

Slide In Panel - by CodyHouse.co

-------------------------------- */


@media only screen and (min-width: 1170px) {
  .cd-main-content h1 {
    font-size: 3.2rem;
  }
}

.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}

.cd-panel::after {
  /* overlay layer */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}

.cd-panel.cd-panel--is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

.cd-panel.cd-panel--is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  /* background-color: hsl(0, 0%, 40%); */
  -webkit-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}

.cd-panel__header {
  position: fixed;
  width: 90%;
  height: 50px;
  line-height: 50px;
  background-color: hsl(0, 0%, 40%);

  z-index: 2;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: -webkit-transform 0.3s 0s;
  transition: -webkit-transform 0.3s 0s;
  transition: transform 0.3s 0s;
  transition: transform 0.3s 0s, -webkit-transform 0.3s 0s;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
}

.cd-panel__header h1 {
  color: hsl(0, 0%, 95%);
  /* same as button text */
  font-size: 20px;
}

.cd-panel--from-right .cd-panel__header {
  right: 0;
}

.cd-panel--from-left .cd-panel__header {
  left: 0;
}

.cd-panel--is-visible .cd-panel__header {
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

@media only screen and (min-width: 768px) {
  .cd-panel__header {
    width: 70%;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-panel__header {
    width: 50%;
  }
}

.cd-panel__close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.cd-panel__close::before, .cd-panel__close::after {
  /* close icon created in CSS */
  content: '';
  position: absolute;
  top: 22px;
  left: 20px;
  height: 3px;
  width: 20px;
  /* base color of X on panel open */
  background-color: hsl(0, 0%, 95%);
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cd-panel__close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-panel__close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cd-panel__close:hover {
  /* color of X link block on hover */
  background-color: hsl(0, 0%, 30%);;
}

.cd-panel__close:hover::before, .cd-panel__close:hover::after {
  /* color of X on hover */
  background-color: hsl(0, 0%, 90%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-panel__close:hover::before {
  -webkit-transform: rotate(220deg);
      -ms-transform: rotate(220deg);
          transform: rotate(220deg);
}

.cd-panel__close:hover::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.cd-panel--is-visible .cd-panel__close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
          animation: cd-close-1 0.6s 0.3s;
}

.cd-panel--is-visible .cd-panel__close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
          animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.cd-panel__container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  /* panel background color */
  background-color: hsl(0, 0%, 30%);
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.cd-panel--from-right .cd-panel__container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.cd-panel--from-left .cd-panel__container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.cd-panel--is-visible .cd-panel__container {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

@media only screen and (min-width: 768px) {
  .cd-panel__container {
    width: 70%;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-panel__container {
    width: 50%;
  }
}

.cd-panel__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 5%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}

.cd-panel__content p {
  /* font-size: 1.4rem; */
  /* panel text color */
  color: hsl(0, 0%, 95%);
  /* small screen */
  line-height: 1.2;
  /* margin: 2em 0; */
}

.cd-panel__content p:first-of-type {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .cd-panel__content p {
    /* font-size: 1.6rem; */
    /* large screen line height */
    line-height: 1.2;
  }
}


/* CodyHouse slide-in panel info:

Copyright 2018 Amber Creative Lab Ltd, CodyHouse.co

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. */
